body{
    background-color: #e9f4f4;
  }

p.init {
    font-weight: bold;
    font-size: 24px;
  }

.meow {
    color: #cc6600;
    font-weight: bold;
  }

.garfield {
    color: #cc6600;

  }

.scooby {
    color: #bf00ff;
  }

.arf {
    color: #bf00ff;
    font-weight: bold;
  }

p.boring {
    font-size: 20px;
  }
